.whiteboard_header {
    background-color: #329732;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0px 40px;

    .heading {
        font-size: 18px;
        color: #fff;
    }
}